.registration-page
  .card.w-50.edit_registration_page
    %div{style: "text-align: center; padding-top: 25px;"}
      %h3 Update User
    .card-body
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { data: { turbo: false } }) do |f|
        = render "devise/shared/error_messages", resource: resource
        .form-group.row
          .col-lg-6
            = f.label :first_name, class: "form-label"
            = f.text_field :first_name, class: "form-control", placeholder: "Enter your first name"
          .col-lg-6
            = f.label :last_name, class: "form-label"
            = f.text_field :last_name, class: "form-control", placeholder: "Enter your last name"
        .form-group.row
          .col-lg-6
            = f.label :email, class: "form-label"
            = f.email_field :email, class: "form-control", placeholder: "Enter your email"
          .col-lg-6
            = f.label :date_of_birth, class: "form-label"
            = f.date_field :date_of_birth, class: "form-control", placeholder: "Enter your date of birth"
        .form-group
          = f.label :age, class: "form-label"
          = f.number_field :age, class: "form-control", placeholder: "Enter your age"
        .form-group.row
          .col-lg-6
            = f.label :password, class: "form-label"
            = f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Leave blank if you don't want to change it"
          .col-lg-6
            = f.label :password_confirmation, class: "form-label"
            = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Enter the password again"
        .form-group
          = f.label :current_password, class: "form-label"
          = f.password_field :current_password, autocomplete: "current-password", class: "form-control", placeholder: "Enter Current password to confirm your changes"
        .actions
          %div.center
            = f.submit "Update", class: "btn btn-primary Delete-button"
