.card.w-50.new_form_card
  %div{style: "text-align: center; padding: 20px;"}
    %h3.text-primary.font-weight-bold Welcome, #{@customer.first_name} #{@customer.last_name}
    %h2 Your Orders
    - if @orders.any?
      %table.table-bordered.table-striped.w-100
        %thead.table-dark
          %tr
            %th 
              = link_to "ID"
            %th 
              = link_to "Name"
            %th 
              = link_to "Status", :sort => "status"
            %th 
              = link_to "schedule time "
            %th 
              = link_to "Action "  
        %tbody
          - @orders.each do |order|
            %tr.content-row
              %td=order.id
              %td=order.restaurant.name
              %td= order.status
              %td= order.scheduled_time 
              %td

                = link_to restaurant_order_path(order.restaurant_id, order), class: "btn btn-primary mr-2", id: "eye-icon", style: "margin-left: 1%;" do
                  %i.fa.fa-eye.mr-1
    - else
      %p You have no orders yet.

%div.pagination-wrapper{style: "text-align: center;"}
  = will_paginate(@orders, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer)